*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 24px;
}

.main {
  margin: 20rem auto 10rem auto;

  min-width: 36rem;
  max-width: 96rem;
}
img {
  width: 100%;
}

article {
  width: 100%;
}
